.tile {
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(212,223,237,0.2) 100%);
    background-size: 150%; 
    background-position: center;
    padding: 24px 22px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(183, 197, 215, 1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(183, 197, 215, 1);
    box-shadow: 0px 4px 10px 0px rgba(183, 197, 215, 1);
}